


/*empezando*/
.container{
  margin: 0;
}

.form {
  width: 350px;
  height: 300px;
 
 /* max-width: 330px;*/
  margin: 5 auto;
  display: flex;
  flex-direction: column;
  background: rgba(129, 129, 129, 0.274);
  padding: 20px;
  margin-top: 35px;

  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.315);
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

}

.footer2 {
  height: 1em;
  margin-left: 0.5rem;
  text-align: center;
 
 

}

.footer a {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
 
}


.input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background: none;
  border: 4px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
.mainHome {
  min-height: 70vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body{

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("/1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

}