.container{

 
  margin-left: 35px;
  margin-right: 35px;

 
}

.title{
  color: #050505;

}

.subtitle{
  color:rgb(128, 128, 128);
  font-size: 14px;
 
}

.listItem{
  display: flex;
  justify-content:space-between;
  
}


.listItemhead{
  display: flex;

  
}


.list{
  width: 100%;
/*   max-width: 80%;*/
    background-color: white;

}

@media (max-width: 1080px){
  .subtitle{
    font-size: 12px;
  }


}

@media (max-width: 950px){

  .listItem{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 610px){
  .container{
   
margin-left: 12px;
margin-right: 12px;

  }
  .list{
     max-width: 100%;
  }
 
}

@media (max-width: 450px){
  .listItemhead{
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  }
  .title{
    margin-left: 30px;
  }
}








